In [1]:
import tradingeconomics as te

In [2]:
te.login()

'You are logged in as a guest:guest'

# Eurostat

## Categories and Countries

##### List of countries available.
/eurostat/countries

https://api.tradingeconomics.com/eurostat/countries?c=guest:guest

In [3]:
te.getEurostatCountries(output_type='df')

           Country
0          Austria
1          Belgium
2         Bulgaria
3          Croatia
4           Cyprus
5   Czech Republic
6          Denmark
7          Estonia
8        Euro Area
9   European Union
10         Finland
11          France
12         Germany
13          Greece
14         Hungary
15         Ireland
16           Italy
17          Latvia
18       Lithuania
19      Luxembourg
20           Malta
21     Netherlands
22          Poland
23        Portugal
24         Romania
25        Slovakia
26        Slovenia
27           Spain
28          Sweden

##### List of categories and category groups available.
/eurostat/categories

https://api.tradingeconomics.com/eurostat/categories?c=guest:guest

In [4]:
te.getEurostatCategoryGroups(output_type='df')

                                            Category CategoryGroup
0  Wheat and spelt: Area (cultivation/harvested/p...   Agriculture
1  Rye and winter cereal mixtures: Area (cultivat...   Agriculture
2    Barley: Area (cultivation/harvested/production)   Agriculture
3  Oats and spring cereal mixtures: Area (cultiva...   Agriculture
4  Cereals for the production of grain (including...   Agriculture
5  Grain maize and corn-cob-mix: Area (cultivatio...   Agriculture
6  Dry pulses and protein crops for the productio...   Agriculture
7  Area under cultivation of Rape and turnip rape...   Agriculture
8           Area under cultivation of Sunflower seed   Agriculture
9                     Area under cultivation of Soya   Agriculture

##### Get Eurostat data by Category Group.
/eurostat?category_goup={category_group}

https://api.tradingeconomics.com/eurostat?category_group=Poverty&c=guest:guest

In [5]:
te.getEurostatData(category_group='poverty', output_type='df')

,ID,Country,Category,CategoryGroup,URL,Unit,Frequency,LatestValue,LatestValueDate,PreviousValue,PreviousValueDate,FirstValue,FirstValueDate,HighestValue,HighestValueDate,LowestValue,LowestValueDate,LastUpdate
0,15371,Bulgaria,People at risk of income poverty after social ...,Poverty,/bulgaria/people-at-risk-of-income-poverty-aft...,%,Yearly,23.8,2020-12-31T00:00:00,22.6,2019-12-31T00:00:00,14.0,2000-12-31T00:00:00,23.8,2020-12-31T00:00:00,14.0,2002-12-31T00:00:00,2021-09-14T23:15:00
1,15373,Czech Republic,People at risk of income poverty after social ...,Poverty,/czech-republic/people-at-risk-of-income-pover...,%,Yearly,10.1,2019-12-31T00:00:00,9.6,2018-12-31T00:00:00,8.0,2001-12-31T00:00:00,10.4,2005-12-31T00:00:00,8.0,2001-12-31T00:00:00,2021-09-14T23:15:00
2,15375,Denmark,People at risk of income poverty after social ...,Poverty,/denmark/people-at-risk-of-income-poverty-afte...,%,Yearly,12.1,2020-12-31T00:00:00,12.5,2019-12-31T00:00:00,10.0,2001-12-31T00:00:00,13.3,2010-12-31T00:00:00,10.0,2001-12-31T00:00:00,2021-09-14T23:15:00
3,15383,Greece,People at risk of income poverty after social ...,Poverty,/greece/people-at-risk-of-income-poverty-after...,%,Yearly,17.7,2020-12-31T00:00:00,17.9,2019-12-31T00:00:00,20.0,2000-12-31T00:00:00,23.1,2013-12-31T00:00:00,17.7,2020-12-31T00:00:00,2021-09-14T23:15:00
4,15395,Latvia,People at risk of income poverty after social ...,Poverty,/latvia/people-at-risk-of-income-poverty-after...,%,Yearly,22.9,2019-12-31T00:00:00,23.3,2018-12-31T00:00:00,16.0,2000-12-31T00:00:00,26.4,2009-12-31T00:00:00,16.0,2000-12-31T00:00:00,2021-09-14T23:15:00
5,15401,Hungary,People at risk of income poverty after social ...,Poverty,/hungary/people-at-risk-of-income-poverty-afte...,%,Yearly,12.3,2020-12-31T00:00:00,12.3,2019-12-31T00:00:00,11.0,2000-12-31T00:00:00,15.9,2006-12-31T00:00:00,10.0,2002-12-31T00:00:00,2021-09-14T23:15:00
6,15403,Malta,People at risk of income poverty after social ...,Poverty,/malta/people-at-risk-of-income-poverty-after-...,%,Yearly,17.1,2019-12-31T00:00:00,16.8,2018-12-31T00:00:00,15.0,2000-12-31T00:00:00,17.1,2019-12-31T00:00:00,14.2,2006-12-31T00:00:00,2021-09-14T23:15:00
7,15407,Austria,People at risk of income poverty after social ...,Poverty,/austria/people-at-risk-of-income-poverty-afte...,%,Yearly,13.9,2020-12-31T00:00:00,13.3,2019-12-31T00:00:00,12.0,2000-12-31T00:00:00,15.2,2008-12-31T00:00:00,12.0,2007-12-31T00:00:00,2021-09-14T23:15:00
8,15409,Poland,People at risk of income poverty after social ...,Poverty,/poland/people-at-risk-of-income-poverty-after...,%,Yearly,15.4,2019-12-31T00:00:00,14.8,2018-12-31T00:00:00,16.0,2000-12-31T00:00:00,20.5,2005-12-31T00:00:00,14.8,2018-12-31T00:00:00,2021-09-14T23:15:00
9,15413,Romania,People at risk of income poverty after social ...,Poverty,/romania/people-at-risk-of-income-poverty-afte...,%,Yearly,23.4,2020-12-31T00:00:00,23.8,2019-12-31T00:00:00,17.0,2000-12-31T00:00:00,25.4,2015-12-31T00:00:00,17.0,2001-12-31T00:00:00,2021-09-14T23:15:00

##### Get Eurostat data by Category.
/eurostat?category={category}

https://api.tradingeconomics.com/eurostat?category=People%20at%20risk%20of%20income%20poverty%20after%20social%20transfers&c=guest:guest

In [4]:
te.getEurostatData(category='People at risk of income poverty after social transfers', output_type='df')

,ID,Country,Category,CategoryGroup,URL,Unit,Frequency,LatestValue,LatestValueDate,PreviousValue,PreviousValueDate,FirstValue,FirstValueDate,HighestValue,HighestValueDate,LowestValue,LowestValueDate,LastUpdate
0,15371,Bulgaria,People at risk of income poverty after social ...,Poverty,/bulgaria/people-at-risk-of-income-poverty-aft...,%,Yearly,23.8,2020-12-31T00:00:00,22.6,2019-12-31T00:00:00,14.0,2000-12-31T00:00:00,23.8,2020-12-31T00:00:00,14.0,2002-12-31T00:00:00,2021-09-14T23:15:00
1,15373,Czech Republic,People at risk of income poverty after social ...,Poverty,/czech-republic/people-at-risk-of-income-pover...,%,Yearly,10.1,2019-12-31T00:00:00,9.6,2018-12-31T00:00:00,8.0,2001-12-31T00:00:00,10.4,2005-12-31T00:00:00,8.0,2001-12-31T00:00:00,2021-09-14T23:15:00
2,15375,Denmark,People at risk of income poverty after social ...,Poverty,/denmark/people-at-risk-of-income-poverty-afte...,%,Yearly,12.1,2020-12-31T00:00:00,12.5,2019-12-31T00:00:00,10.0,2001-12-31T00:00:00,13.3,2010-12-31T00:00:00,10.0,2001-12-31T00:00:00,2021-09-14T23:15:00
3,15383,Greece,People at risk of income poverty after social ...,Poverty,/greece/people-at-risk-of-income-poverty-after...,%,Yearly,17.7,2020-12-31T00:00:00,17.9,2019-12-31T00:00:00,20.0,2000-12-31T00:00:00,23.1,2013-12-31T00:00:00,17.7,2020-12-31T00:00:00,2021-09-14T23:15:00
4,15395,Latvia,People at risk of income poverty after social ...,Poverty,/latvia/people-at-risk-of-income-poverty-after...,%,Yearly,22.9,2019-12-31T00:00:00,23.3,2018-12-31T00:00:00,16.0,2000-12-31T00:00:00,26.4,2009-12-31T00:00:00,16.0,2000-12-31T00:00:00,2021-09-14T23:15:00
5,15401,Hungary,People at risk of income poverty after social ...,Poverty,/hungary/people-at-risk-of-income-poverty-afte...,%,Yearly,12.3,2020-12-31T00:00:00,12.3,2019-12-31T00:00:00,11.0,2000-12-31T00:00:00,15.9,2006-12-31T00:00:00,10.0,2002-12-31T00:00:00,2021-09-14T23:15:00
6,15403,Malta,People at risk of income poverty after social ...,Poverty,/malta/people-at-risk-of-income-poverty-after-...,%,Yearly,17.1,2019-12-31T00:00:00,16.8,2018-12-31T00:00:00,15.0,2000-12-31T00:00:00,17.1,2019-12-31T00:00:00,14.2,2006-12-31T00:00:00,2021-09-14T23:15:00
7,15407,Austria,People at risk of income poverty after social ...,Poverty,/austria/people-at-risk-of-income-poverty-afte...,%,Yearly,13.9,2020-12-31T00:00:00,13.3,2019-12-31T00:00:00,12.0,2000-12-31T00:00:00,15.2,2008-12-31T00:00:00,12.0,2007-12-31T00:00:00,2021-09-14T23:15:00
8,15409,Poland,People at risk of income poverty after social ...,Poverty,/poland/people-at-risk-of-income-poverty-after...,%,Yearly,15.4,2019-12-31T00:00:00,14.8,2018-12-31T00:00:00,16.0,2000-12-31T00:00:00,20.5,2005-12-31T00:00:00,14.8,2018-12-31T00:00:00,2021-09-14T23:15:00
9,15413,Romania,People at risk of income poverty after social ...,Poverty,/romania/people-at-risk-of-income-poverty-afte...,%,Yearly,23.4,2020-12-31T00:00:00,23.8,2019-12-31T00:00:00,17.0,2000-12-31T00:00:00,25.4,2015-12-31T00:00:00,17.0,2001-12-31T00:00:00,2021-09-14T23:15:00

##### Get Eurostat data by Country.
/eurostat/country/{country}

https://api.tradingeconomics.com/eurostat/country/Denmark?c=guest:guest

In [6]:
te.getEurostatData(country='denmark', output_type='df')

,ID,Country,Category,CategoryGroup,URL,Unit,Frequency,LatestValue,LatestValueDate,PreviousValue,PreviousValueDate,FirstValue,FirstValueDate,HighestValue,HighestValueDate,LowestValue,LowestValueDate,LastUpdate
0,622,Denmark,Wheat and spelt: Area (cultivation/harvested/p...,Agriculture,/denmark/wheat-spelt-area-cultivation-harveste...,thousand ha,Yearly,538.34,2021-12-31T00:00:00,502.60,2020-12-31T00:00:00,763.60,2010-12-31T00:00:00,763.60,2010-12-31T00:00:00,425.80,2018-12-31T00:00:00,2021-09-08T23:27:00
1,751,Denmark,Rye and winter cereal mixtures: Area (cultivat...,Agriculture,/denmark/rye-winter-cereal-mixtures-area-culti...,thousand ha,Yearly,108.35,2021-12-31T00:00:00,115.30,2020-12-31T00:00:00,52.10,2010-12-31T00:00:00,146.60,2019-12-31T00:00:00,52.10,2010-12-31T00:00:00,2021-09-08T23:27:00
2,880,Denmark,Barley: Area (cultivation/harvested/production),Agriculture,/denmark/barley-area-cultivation-harvested-pro...,thousand ha,Yearly,622.10,2021-12-31T00:00:00,653.20,2020-12-31T00:00:00,575.20,2010-12-31T00:00:00,795.30,2018-12-31T00:00:00,575.20,2010-12-31T00:00:00,2021-09-08T23:27:00
3,1009,Denmark,Oats and spring cereal mixtures: Area (cultiva...,Agriculture,/denmark/oats-spring-cereal-mixtures-area-cult...,thousand ha,Yearly,71.39,2021-12-31T00:00:00,83.12,2020-12-31T00:00:00,47.50,2010-12-31T00:00:00,89.79,2018-12-31T00:00:00,44.00,2015-12-31T00:00:00,2021-09-08T23:27:00
4,1138,Denmark,Cereals for the production of grain (including...,Agriculture,/denmark/cereals-for-the-production-of-grain-i...,thousand ha,Yearly,1353.43,2021-12-31T00:00:00,1366.92,2020-12-31T00:00:00,1484.40,2010-12-31T00:00:00,1495.50,2012-12-31T00:00:00,1353.43,2021-12-31T00:00:00,2021-09-08T23:27:00
5,1267,Denmark,Grain maize and corn-cob-mix: Area (cultivatio...,Agriculture,/denmark/grain-maize-corn-cob-mix-area-cultiva...,thousand ha,Yearly,6.37,2021-12-31T00:00:00,6.20,2020-12-31T00:00:00,9.50,2010-12-31T00:00:00,12.90,2012-12-31T00:00:00,5.10,2017-12-31T00:00:00,2021-09-08T23:27:00
6,1396,Denmark,Dry pulses and protein crops for the productio...,Agriculture,/denmark/dry-pulses-protein-crops-for-the-prod...,thousand ha,Yearly,32.06,2021-12-31T00:00:00,26.60,2020-12-31T00:00:00,10.40,2010-12-31T00:00:00,32.06,2021-12-31T00:00:00,6.80,2012-12-31T00:00:00,2021-09-08T23:27:00
7,1525,Denmark,Area under cultivation of Rape and turnip rape...,Agriculture,/denmark/area-under-cultivation-of-rape-turnip...,thousand ha,Yearly,162.60,2021-12-31T00:00:00,145.94,2020-12-31T00:00:00,166.50,2010-12-31T00:00:00,193.50,2015-12-31T00:00:00,129.10,2012-12-31T00:00:00,2021-09-08T23:27:00
8,1654,Denmark,Green maize: Area (cultivation/harvested/produ...,Agriculture,/denmark/green-maize-area-cultivation-harveste...,thousand ha,Yearly,173.92,2021-12-31T00:00:00,188.70,2020-12-31T00:00:00,173.70,2010-12-31T00:00:00,188.70,2020-12-31T00:00:00,166.70,2017-12-31T00:00:00,2021-09-08T23:27:00
9,2012,Denmark,Area under cultivation of Fresh vegetables (in...,Agriculture,/denmark/area-under-cultivation-of-fresh-veget...,thousand ha,Yearly,13.01,2020-12-31T00:00:00,13.33,2019-12-31T00:00:00,11.41,2010-12-31T00:00:00,13.33,2019-12-31T00:00:00,11.41,2010-12-31T00:00:00,2021-09-08T23:27:00

##### Get Eurostat data by Country and category.
/eurostat/country/{country}?category={category}

https://api.tradingeconomics.com/eurostat/country/European%20Union?category=Harmonised%20unemployment%20rate:%20Females&c=guest:guest

In [7]:
te.getEurostatData(country='european union', category='Harmonised unemployment rate: Females', output_type='df')

,ID,Country,Category,CategoryGroup,URL,Unit,Frequency,LatestValue,LatestValueDate,PreviousValue,PreviousValueDate,FirstValue,FirstValueDate,HighestValue,HighestValueDate,LowestValue,LowestValueDate,LastUpdate
0,7173,European Union,Harmonised unemployment rate: Females,Labour,/european-union/harmonised-unemployment-rate-f...,%,Monthly,7.3,2021-07-31T00:00:00,7.5,2021-06-30T00:00:00,8.1,2020-09-30T00:00:00,8.1,2020-09-30T00:00:00,7.3,2021-07-31T00:00:00,2021-09-16T23:23:00

##### Get Eurostat data by Country and category group.
/eurostat/country/{country}?category_group={category_group}

https://api.tradingeconomics.com/eurostat/country/Denmark?category_group=Interest%20rates&c=guest:guest

In [8]:
te.getEurostatData(country='european union', category_group='interest rates', output_type='df')

,ID,Country,Category,CategoryGroup,URL,Unit,Frequency,LatestValue,LatestValueDate,PreviousValue,PreviousValueDate,FirstValue,FirstValueDate,HighestValue,HighestValueDate,LowestValue,LowestValueDate,LastUpdate
0,7524,European Union,Long term gov. bond yields,Interest rates,/european-union/long-term-gov-bond-yields-euro...,%,Monthly,0.23,2021-08-31T00:00:00,0.31,2021-07-31T00:00:00,0.22,2020-09-30T00:00:00,0.50,2021-05-31T00:00:00,0.06,2020-12-31T00:00:00,2021-09-11T23:10:00
1,12611,European Union,EMU convergence criterion series,Interest rates,/european-union/emu-convergence-criterion-seri...,%,Yearly,0.31,2020-12-31T00:00:00,0.72,2019-12-31T00:00:00,4.23,2009-12-31T00:00:00,4.49,2011-12-31T00:00:00,0.31,2020-12-31T00:00:00,2021-08-12T23:13:00

##### Get historical data by ID.
/eurostat/historical/{id}

https://api.tradingeconomics.com/eurostat/historical/24804?c=guest:guest

In [9]:
te.getHistoricalEurostat(ID='24804', output_type='df')

      ID                 Date  Value           LastUpdate
0  24804  2020-12-31T00:00:00    2.4  2021-04-20T23:16:00
1  24804  2019-12-31T00:00:00    1.8  2020-07-02T17:46:00
2  24804  2018-12-31T00:00:00    2.1  2020-07-02T17:46:00
3  24804  2017-12-31T00:00:00    2.7  2020-07-02T17:46:00
4  24804  2016-12-31T00:00:00    3.5  2020-07-02T17:46:00
5  24804  2015-12-31T00:00:00    4.7  2020-07-02T17:46:00
6  24804  2014-12-31T00:00:00    6.0  2020-07-02T17:46:00
7  24804  2013-12-31T00:00:00    6.8  2020-07-02T17:46:00
8  24804  2012-12-31T00:00:00    6.5  2020-07-02T17:46:00
9  24804  2011-12-31T00:00:00    6.4  2020-07-02T17:46:00

##### Get historical data by ID and a start date.
/eurostat/historical/{id}?d1={yyyy-mm-dd}

https://api.tradingeconomics.com/eurostat/historical/24804?d1=2015-01-01&c=guest:guest

In [10]:
te.getHistoricalEurostat(ID='24804', initDate='2015-01-01', output_type='df')

      ID                 Date  Value           LastUpdate
0  24804  2020-12-31T00:00:00    2.4  2021-04-20T23:16:00
1  24804  2019-12-31T00:00:00    1.8  2020-07-02T17:46:00
2  24804  2018-12-31T00:00:00    2.1  2020-07-02T17:46:00
3  24804  2017-12-31T00:00:00    2.7  2020-07-02T17:46:00
4  24804  2016-12-31T00:00:00    3.5  2020-07-02T17:46:00
5  24804  2015-12-31T00:00:00    4.7  2020-07-02T17:46:00

##### Get historical data by ID and a date range.
/eurostat/historical/{id}?d1={yyyy-mm-dd}&d2={yyyy-mm-dd}

https://api.tradingeconomics.com/eurostat/historical/24804?d1=2016-01-01&d2=2020-01-01&c=guest:guest

In [11]:
te.getHistoricalEurostat(ID='24804', initDate='2016-01-01', endDate='2020-01-01', output_type='df')

      ID                 Date  Value           LastUpdate
0  24804  2019-12-31T00:00:00    1.8  2020-07-02T17:46:00
1  24804  2018-12-31T00:00:00    2.1  2020-07-02T17:46:00
2  24804  2017-12-31T00:00:00    2.7  2020-07-02T17:46:00
3  24804  2016-12-31T00:00:00    3.5  2020-07-02T17:46:00